.prose {
	--c-paragraph-margin-block-end: 1lh;

	letter-spacing: var(--t-font-letter-spacing-regular);
	line-height: var(--t-font-line-height-relaxed);
	margin-block-end: var(--t-space-18);
	text-wrap: pretty;

	p {
		&:not(:last-child) {
			margin-block-end: var(--c-paragraph-margin-block-end);
		}
	}

	a {
		:where(&) {
			--s-color: currentColor;
			--s-text-decoration: underline;
			--s-text-decoration-color: color-mix(in oklch, currentColor 25%, transparent);
		}

		color: var(--s-color);
		text-decoration: var(--s-text-decoration);
		text-decoration-color: var(--s-text-decoration-color);
		transition: var(--t-transition-default);
		transition-property: color, text-decoration-color;

		&:hover {
			--s-color: var(--t-color-brand-primary);
			--s-text-decoration-color: var(--t-color-brand-primary);
		}

		[id]:is(h2, h3, h4, h5, h6) & {
			position: relative;
			--s-text-decoration: none;

			&::before {
				content: "#";
				position: absolute;
				left: -1.5ch;
				color: transparent;
			}

			&:hover::before {
				color: currentColor;
			}
		}
	}

	:is(h1) {
		font-size: var(--t-font-size-xlarge);
	}

	:is(h2, h3, h4, h5, h6) {
		margin-block: 2lh 1lh;
		font-weight: var(--t-font-weight-semibold);

		& + :is(h1, h2, h3, h4, h5, h6) {
			margin-block-start: 1lh;
		}
	}

	h2 {
		font-size: var(--t-font-size-large);
	}

	ul,
	ol {
		padding-inline-start: 1lh;
		margin-block-end: 1lh;

		& > li {
			margin-block-start: 0.125lh;
		}
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	figcaption {
		font-size: var(--t-font-size-xsmall);
		padding-inline-start: var(--t-space-3);
		margin-block: 0.5lh 1lh;
		border-inline-start: var(--t-border-width-base) solid color-mix(in oklch, currentColor 10%, transparent);
	}

	blockquote {
		font-size: var(--t-font-size-small);
		padding: var(--t-space-6);
		border-radius: var(--t-radius-medium);
		background-color: var(--t-color-surface-primary);
		margin-block: 1lh;
	}

	.highlight {
		margin-block: 1.5lh;
		padding-inline-start: var(--t-space-6);
		border-inline-start: var(--t-border-width-base) solid var(--t-color-brand-primary);
		font-size: var(--t-font-size-large);
		font-weight: var(--t-font-weight-semibold);
		line-height: var(--t-font-line-height-tight);
		letter-spacing: var(--t-font-letter-spacing-tight);
		text-wrap: balance;

		&[data-size="large"] {
			font-size: var(--t-font-size-xlarge);
		}
	}

	details {
		& > summary {
			font-weight: var(--t-font-weight-semibold);
			margin-block: 0.25lh;
			padding-block-start: 0.25lh;
		}
	}
}
