.app-container {
	margin-inline: var(--t-app-container-gutter-inline);
}

.app-container-padded {
	padding-inline: var(--t-app-container-gutter-inline);
}

.visually-hidden {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.prose {
	line-height: 1.625;

	a {
		:where(&) {
			--s-font-weight: var(--t-font-weight-medium);
			--s-color: currentColor;
			--s-text-decoration-color: color-mix(in srgb, currentColor 35%, transparent);
		}

		color: var(--s-color);
		font-weight: var(--s-font-weight);
		text-decoration: underline;
		text-decoration-color: var(--s-text-decoration-color);
		text-decoration-skip-ink: all;
		transition:
			color text-decoration-color var(--t-transition-preset),
			text-decoration-color var(--t-transition-preset);

		&:hover {
			--s-text-decoration-color: currentColor;
		}
	}

	p {
		text-wrap: pretty;

		&:not(:last-child) {
			margin-block: 0 1lh;
		}
	}

	strong {
		font-weight: var(--t-font-weight-semibold);
	}

	:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
		margin-block-start: 0.5lh;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		font-size: var(--t-font-size-medium);
		font-weight: var(--t-font-weight-semibold);
		margin-block: 2lh 0.5lh;

		&:is(h1) {
			font-size: var(--t-font-size-xlarge);
			text-wrap: pretty;
			margin-block-start: 0;
		}

		&[id] > a {
			position: relative;
			text-decoration: none;
			font-weight: var(--t-font-weight-semibold);

			&:hover::before {
				content: "#";
				position: absolute;
				left: -0.875em;
				opacity: 0.5;
			}
		}
	}

	ul,
	ol {
		padding-inline-start: 1.75em;
		margin-block-end: 1lh;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	figure {
		margin-block: 1.5lh;
	}

	blockquote {
		font-style: italic;
	}

	details,
	figcaption {
		font-size: var(--t-font-size-xsmall);
	}

	figcaption {
		margin-block: 0.25lh;
		padding-block: 0.25lh;
	}

	blockquote,
	details:not(:is(figcaption *)),
	figcaption {
		border-left: var(--t-border-thin) solid color-mix(in oklch, currentColor 15%, transparent);
		padding-inline-start: 0.5lh;
	}

	[open]::details-content {
		margin-block-start: 1lh;
	}
}
