/* stylelint-disable no-duplicate-selectors */
[data-scheme="light"] {
	color-scheme: light;
}

[data-scheme="dark"] {
	color-scheme: dark;
}

/* Colors */
[data-theme="default"] {
	color-scheme: light dark;

	--t-color-accent: light-dark(oklch(0.5 0.4 280), oklch(0.85 0.5 170));

	--t-color-foreground-base: light-dark(oklch(0.25 0.01 50), oklch(0.88 0 0));
	--t-color-foreground-weak: oklch(
		from var(--t-color-foreground-base) calc(l + 0.8 * var(--t-color-scheme-direction)) c h
	);
	--t-color-foreground-strong: oklch(
		from var(--t-color-foreground-base) calc(l - 0.1 * var(--t-color-scheme-direction)) c h
	);

	@media (prefers-color-scheme: light) {
		--t-color-scheme-direction: 1;
	}

	@media (prefers-color-scheme: dark) {
		--t-color-scheme-direction: -1;
	}
}

[data-theme="default"] {
	--t-color-background-root: light-dark(oklch(0.99 0 0), oklch(0.185 0 0));
	--t-color-foreground-root: var(--t-color-foreground-base);

	--t-color-background-page: light-dark(oklch(0.98 0 0), oklch(0.195 0 0));

	--t-color-border-primary: light-dark(oklch(0.95 0 0), oklch(0.23 0 0));
}
