/* stylelint-disable no-duplicate-selectors */

/* Typography */
[data-theme="default"] {
	--t-font-family: var(--font-inter), ui-sans-serif, sans-serif;
	--t-font-family-monospace: var(--font-jetbrains-mono), ui-monospace, monospace;
	--t-font-family-serif: var(--font-newsreader), ui-serif, serif;

	--t-font-size-2xsmall: 0.75rem; /* 12px */
	--t-font-size-xsmall: 0.875rem; /* 14px */
	--t-font-size-small: 0.9375rem; /* 15px */
	--t-font-size-base: 1rem; /* 16px — the default */
	--t-font-size-medium: 1.125rem; /* 18px */
	--t-font-size-large: 1.25rem; /* 20px */
	--t-font-size-xlarge: 1.5rem; /* 24px */
	--t-font-size-2xlarge: 2rem; /* 32px */
	--t-font-size-3xlarge: 3rem; /* 48px */
	--t-font-size-4xlarge: 4rem; /* 64px */
	--t-font-size-5xlarge: 4.5rem; /* 72px */

	--t-font-weight-regular: 400;
	--t-font-weight-medium: 500;
	--t-font-weight-semibold: 575;
	--t-font-weight-bold: 650;
	--t-font-weight-black: 900;

	--t-font-weight-heading: var(--t-font-weight-semibold);

	--t-font-line-height-tightest: 1;
	--t-font-line-height-tighter: 1.125;
	--t-font-line-height-tight: 1.25;
	--t-font-line-height-base: 1.5;
	--t-font-line-height-relaxed: 1.65;

	--t-font-letter-spacing: var(--t-font-letter-spacing-tighter, 0);

	--t-font-letter-spacing-tighter: -0.01875em;
	--t-font-letter-spacing-tight: -0.01em;
	--t-font-letter-spacing-base: 0;
	--t-font-letter-spacing-wide: 0.025em;

	--t-font-underline-style: underline;
	--t-font-underline-thickness: 0.0625em;
	--t-font-underline-thickness-thick: 0.125em;
	--t-font-underline-offset: 0.125em;
	--t-font-underline-offset-comfortable: 0.25em;
	--t-font-underline-color: color-mix(in display-p3, currentColor, transparent);
}

/* Brand */
[data-theme] {
	--t-brand-logomark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><path d="M200 100c55.23 0 100 44.77 100 100h100C400 89.54 310.46 0 200 0S0 89.54 0 200h100c0-55.23 44.77-100 100-100"/><circle cx="200" cy="300" r="100"/></svg>');
}

/* Icons */

[data-theme] {
	--t-icon-rss: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M11.51 15.02c20.65 0 37.46 16.8 37.46 37.46 0 1.94 1.57 3.51 3.51 3.51s3.51-1.57 3.51-3.51c0-24.53-19.96-44.49-44.49-44.49-1.94 0-3.51 1.57-3.51 3.51s1.57 3.51 3.51 3.51Z"/><path d="M11.51 32.59c10.97 0 19.9 8.93 19.9 19.9 0 1.94 1.57 3.51 3.51 3.51s3.51-1.57 3.51-3.51c0-14.84-12.08-26.93-26.93-26.93-1.94 0-3.51 1.57-3.51 3.51s1.57 3.51 3.51 3.51Z"/><circle cx="15.02" cy="48.98" r="7.02"/></svg>');
	--t-icon-bluesky: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530"><path d="M135.72 44.03C202.22 93.95 273.74 195.17 300 249.49c26.26-54.32 97.78-155.54 164.28-205.46C512.26 8.01 590-19.86 590 68.82c0 17.71-10.16 148.79-16.11 170.07-20.7 73.98-96.14 92.85-163.25 81.43 117.3 19.96 147.14 86.09 82.7 152.22-122.39 125.59-175.91-31.51-189.63-71.77-2.51-7.38-3.69-10.83-3.71-7.9-.02-2.94-1.19.52-3.71 7.9-13.71 40.26-67.23 197.36-189.63 71.77-64.44-66.13-34.6-132.26 82.7-152.22-67.11 11.42-142.55-7.45-163.25-81.43C20.15 217.61 10 86.53 10 68.82 10-19.87 87.74 8 135.72 44.03"/></svg>');
	--t-icon-x: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 271"><path d="M221.47 22.62h38.32l-84.14 95.8 98.3 129.96h-77.14l-60.4-78.97-69.14 78.97H28.95l89.14-102.47L23.95 22.62h79.06l54.57 72.14 63.9-72.14Zm-13.41 203.27h21.24L91.84 44.28H69.01l139.04 181.61Z"/></svg>');
	--t-icon-github: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="98" height="96" fill="none"><g clip-path="url(%23a)"><path fill="%23000" d="M41.44 69.385C28.807 67.853 19.906 58.762 19.906 46.99c0-4.785 1.723-9.953 4.594-13.398-1.244-3.158-1.053-9.858.383-12.633 3.828-.479 8.996 1.531 12.058 4.307 3.637-1.149 7.465-1.723 12.155-1.723s8.517.574 11.963 1.627c2.966-2.68 8.23-4.69 12.058-4.211 1.34 2.584 1.531 9.283.287 12.537 3.063 3.637 4.69 8.518 4.69 13.494 0 11.772-8.9 20.672-21.725 22.3 3.254 2.104 5.455 6.698 5.455 11.962v9.953c0 2.871 2.393 4.498 5.264 3.35C84.41 87.95 98 70.629 98 49.19 98 22.107 75.988 0 48.904 0S0 22.107 0 49.191c0 21.246 13.494 38.856 31.678 45.46 2.584.956 5.072-.766 5.072-3.35v-7.657c-1.34.575-3.062.958-4.594.958-6.316 0-10.049-3.446-12.728-9.858-1.053-2.584-2.201-4.115-4.403-4.402-1.148-.096-1.53-.574-1.53-1.149 0-1.148 1.913-2.01 3.827-2.01 2.776 0 5.168 1.723 7.657 5.264 1.914 2.776 3.923 4.02 6.316 4.02s3.924-.861 6.125-3.063c1.627-1.627 2.871-3.062 4.02-4.02"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h98v96H0z"/></clipPath></defs></svg>');
	--t-icon-linkedin: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><path d="M64 0H8C3.58 0 0 3.58 0 8v56c0 4.42 3.58 8 8 8h56c4.42 0 8-3.58 8-8V8c0-4.42-3.58-8-8-8M21.77 62H11.03V27.33h10.74zm-5.42-39.21c-3.51 0-6.35-2.86-6.35-6.4s2.84-6.4 6.35-6.4 6.35 2.86 6.35 6.4-2.84 6.4-6.35 6.4M62 62H51.32V43.8c0-4.99-1.9-7.78-5.84-7.78-4.3 0-6.54 2.9-6.54 7.78V62h-10.3V27.33h10.3V32s3.1-5.73 10.45-5.73 12.62 4.49 12.62 13.78V62Z" style="fill-rule:evenodd"/></svg>');
}

/* Layout */
[data-theme] {
	--t-app-page-max-width: 50rem;
	--t-app-page-gutter: var(--t-space-6);

	--t-app-container-gutter-inline: max(
		var(--t-app-page-gutter),
		calc((100svw - var(--t-app-page-max-width)) / 2)
	);
}

/* Spacing */
[data-theme] {
	--t-space-0: 0;
	--t-space-0-5: 0.125rem; /* 2px */
	--t-space-1: 0.25rem; /* 4px */
	--t-space-1-5: 0.375rem; /* 6px */
	--t-space-2: 0.5rem; /* 8px */
	--t-space-3: 0.75rem; /* 12px */
	--t-space-4: 1rem; /* 16px */
	--t-space-5: 1.25rem; /* 20px */
	--t-space-6: 1.5rem; /* 24px */
	--t-space-8: 2rem; /* 32px */
	--t-space-9: 2.25rem; /* 36px */
	--t-space-10: 2.5rem; /* 40px */
	--t-space-11: 2.75rem; /* 44px */
	--t-space-12: 3rem; /* 48px */
	--t-space-16: 4rem; /* 64px */
	--t-space-18: 4.5rem; /* 72px */
	--t-space-20: 5rem; /* 80px */
	--t-space-21: 5.25rem; /* 84px */
	--t-space-24: 6rem; /* 96px */
	--t-space-27: 6.75rem; /* 108px */
	--t-space-32: 8rem; /* 128px */
	--t-space-36: 9rem; /* 144px */
	--t-space-40: 10rem; /* 160px */
	--t-space-48: 12rem; /* 192px */
}

/* Borders */
[data-theme] {
	--t-border-thin: 1px;
	--t-border-default: 2px;
	--t-border-thick: 3px;
	--t-border-heavy: 4px;

	--t-radius-none: 0;
	--t-radius-small: 0.25rem;
	--t-radius-medium: 0.5rem;
	--t-radius-large: 0.75rem;
	--t-radius-xlarge: 1rem;
	--t-radius-full: 9999px;
}

/* Motion */
[data-theme] {
	--t-duration-instant: 0s;
	--t-duration-faster: 0.075s;
	--t-duration-fast: 0.15s;
	--t-duration-base: 0.2s;
	--t-duration-slow: 0.3s;
	--t-duration-slower: 0.5s;

	--t-ease-default: ease;
	--t-ease-in: ease-in;
	--t-ease-out: ease-out;
	--t-ease-in-out: ease-in-out;
	--t-ease-linear: linear;

	--t-transition-preset: var(--t-duration-base) var(--t-ease-default);
}

/* Elevation */
[data-theme] {
	--t-elevation-below: -1;
	--t-elevation-base: 0;
	--t-elevation-raised: 10;
	--t-elevation-dropdown: 20;
	--t-elevation-sticky: 30;
	--t-elevation-fixed: 40;
	--t-elevation-overlay: 50;
	--t-elevation-modal: 60;
	--t-elevation-popover: 70;
	--t-elevation-toast: 80;
	--t-elevation-tooltip: 90;
	--t-elevation-max: 9999;
}
